.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;

    &.active {
        background-color: blue;
    }

    &.checked {
        background-color: green;
    }

    &.visit {
        background-color: red;
    }
}