.game {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .game-settings {
        margin-bottom: 20px;
    }

    .mr-10 {
        margin-right: 10px;
    }

    .control {
        padding: 10px;
    }
}